.conatiner {
  font-family: 'Libre Baskerville', serif;
  max-width: 75%;
  margin: 0 auto;
  box-shadow: 2px 5px 20px;
  color: #e6eba2;
}
.conatiner .all {
  height: 500px;
  color: black;
}
.conatiner .all h2 {
  padding-top: 10px;
}
.header {
  background-image: linear-gradient(white, #e0b8e4);
}
.header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.header .header-info h1 {
  font-size: 4rem;
  display: flex;
}
.header .header-info .sp {
  max-width: 30%;
  padding: 20px 0;
}
.header .header-info p {
  margin-left: 10px;
  font-size: 1.4rem;
}
.header .mypic img {
  display: none;
}
.header .nav {
  display: none;
}
.header .mob-nav a span:hover {
  color: #BC58F4;
}
.header .mob-nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .mob-nav nav a {
  background-image: linear-gradient(white, #e0b8e4);
  box-shadow: 2px 5px 20px;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 3px 23.2px;
}
.mob-nav a {
  float: left;
  display: block;
  text-align: center;
}
.info-container {
  padding: 16px;
}
@media (min-width: 1920px) {
  .header .nav {
    display: inline;
  }
  .header .mob-nav {
    display: none;
  }
}
@media (min-width: 1920px) {
  .header-info .sp {
    display: none;
  }
}
@media (min-width: 1920px) {
  .mypic img {
    background-image: linear-gradient(white, #e0b8e4);
    box-shadow: 2px 5px 20px;
    color: black;
    display: inline;
    max-width: 10%;
    height: auto;
  }
}
.header {
  background-image: linear-gradient(white, #e0b8e4);
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.header-info h1 {
  font-size: 4rem;
  display: flex;
}
.header-info .sp {
  max-width: 30%;
  padding: 20px 0;
}
@media (min-width: 1920px) {
  .header-info .sp {
    display: none;
  }
}
.header-info p {
  margin-left: 10px;
  font-size: 1.4rem;
}
.mypic img {
  display: none;
}
@media (min-width: 1920px) {
  .mypic img {
    background-image: linear-gradient(white, #e0b8e4);
    box-shadow: 2px 5px 20px;
    color: black;
    display: inline;
    max-width: 10%;
    height: auto;
  }
}
.nav {
  display: none;
}
.skills-section {
  background-image: linear-gradient(#e0b8e4, white);
  box-shadow: 2px 5px 20px;
  color: black ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-section h2 {
  margin-top: 28px;
  font-size: 3rem;
  font-weight: bolder;
  color: black;
}
.skills-section .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills-section .skills .box {
  margin: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-section .skills .box h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
  padding-bottom: 10px;
}
.skills-section .skills .box ul li {
  font-size: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 4px 0;
}
.soft-skills {
  width: 100%;
  padding-top: 5px;
}
.soft-skills h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
}
.soft-skills .last-box {
  display: flex;
  flex-direction: column;
}
.soft-skills .last-box li {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: black;
  padding: 4px 0;
}
@media (min-width: 1920px) {
  .skills-section {
    background-image: linear-gradient(#e0b8e4, white);
    box-shadow: 2px 5px 20px;
    color: black ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-section h2 {
    font-size: 5rem;
    color: black;
  }
  .skills-section .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .skills-section .skills .box {
    margin: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills-section .skills .box h3 {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
  }
  .skills-section .skills .box ul li {
    font-size: 1.3rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 3px 0;
  }
}
.experience-section {
  background-image: linear-gradient(white, #e0b8e4);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 20px;
  color: black;
}
.experience-section h2 {
  margin-top: 28px;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
}
.experience-section .experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-section .experience .exper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.experience-section .experience .exper h4 {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}
.experience-section .experience .exper h3 {
  font-size: 0.9rem;
  font-weight: 550;
  color: black;
  padding: 5px 0 10px 0;
}
.experience-section .experience .exper p {
  color: black;
}
.experience-section .experience .exper ul {
  width: 100%;
  color: black;
}
.experience-section .experience .exper ul li {
  padding-bottom: 5px;
  list-style-type: circle;
}
.education-section {
  background-image: linear-gradient(#e0b8e4, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 20px;
  color: black;
}
.education-section h2 {
  margin-top: 28px;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
}
.education-section .education {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education-section .education .edu {
  width: 100%;
  padding-top: 15px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 20px;
  color: #b7a8c0;
}
.education-section .education .edu h4 {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}
.education-section .education .edu h3 {
  font-size: 0.9rem;
  font-weight: 550;
  color: black;
  padding: 5px 0 10px 0;
}
.education-section .education .edu ul {
  width: 80%;
  color: black;
}
.education-section .education .edu ul li {
  padding-bottom: 5px;
  list-style-type: circle;
}
.contact {
  background-image: linear-gradient(white, #e0b8e4);
  padding-top: 40px;
  box-shadow: 2px 5px 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-info {
  background-image: linear-gradient(white, #e0b8e4);
  box-shadow: 2px 5px 20px;
  color: black;
  color: #b7a8c0;
  margin-top: 50px;
  padding: 20px;
}
.contact h5 {
  font-size: 5rem;
  color: black;
}
.contact p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  color: black;
}
.contact p a {
  padding: 10px;
  text-decoration: none;
  background-image: linear-gradient(white, #e0b8e4);
  box-shadow: 2px 5px 20px;
  color: black;
  display: none;
}
.contact .social-media {
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
footer {
  height: 50px;
  background-image: linear-gradient(white, #e0b8e4);
  box-shadow: 2px 5px 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
