
.conatiner{
    font-family: 'Libre Baskerville', serif;
    max-width: 95%;
    margin:0 auto;
    box-shadow: 2px 5px 20px;
    color: rgb(230, 235, 162);
    
    .all {
        height: 500px;
        color: black;
        h2{ 
            padding-top:10px;
        }
    
    }
}

