//contact

.contact {
    .middle-cards(linear-gradient(white, rgb(231, 134, 240))); 
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-info {
        .colormix1();
        margin-top: 50px;
    }
    .social-media {
        margin-top: 30px;
        display: flex;
    }
    h5 {
        .headings();
    }
    p {
        .sub-headings();
    }
}