//education
.education-section{
    .middle-cards(linear-gradient(rgb(224, 184, 228), white));
    box-shadow: 2px 5px 20px;
    color:black;
    h2{
        margin-top:28px;
        color:black;
        font-size: 3rem;
        font-weight: bolder;
    }
    .education{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .edu{
            .each-card();
            padding-top: 15px;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // .colormix1();
            box-shadow: 2px 5px 20px;
            color: #b7a8c0;
            
            h4 {
                font-size: 1.1rem;
                color:black;
                font-weight: bold;
                
            }
            h3 {
                font-size: .9rem;
                font-weight: 550;
                color:black;
                padding: 5px 0 10px 0;
            }
            ul{
                width: 80%;
               color:black;
               li{
                //    font-size: .5rem;
                padding-bottom: 5px;
                list-style-type: circle;
               }
            }
        }
    
    }
}

