//education
.education-section{
    .middle-cards(linear-gradient(rgb(224, 184, 228), white));
    box-shadow: 2px 5px 20px;
    color:rgb(207, 149, 240);
    h2{
        .headings(); 
        color: black;   
    }
    .education{
        .card-info();
        
        .edu{
            .each-card();
            // .colormix1();
            h4 {
                .sub-headings();
                color:black
            }
            p {
                color:black

            }
        }
    
    }
}