//experience
.experience-section{
    .middle-cards(linear-gradient(white, rgb(224, 184, 228))); 
    box-shadow: 2px 5px 20px;
    color: #b7a8c0;
    h2{
        .headings();
        color:black;
    }
    .experience{
        .card-info();
        .exper{
            .each-card();
            // .colormix1();
            h4 {
                .sub-headings();
                color:black
            }
            p {
                color:black
            }
        }
    
    }
}
