
//header
.header {
    .bg();
    .mob-nav {
        display:flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;

        nav {

            a{
             .colormix1();
             .centerflex();
             float: left;
            display: block;
            text-align: center;
             text-decoration: none;
             font-size: 1rem;
             padding: 3px 15.8px;
            }
        }

    .mob-nav a span:hover {
            color: #BC58F4;
        }
    }

    .info-container {
        padding: 16px;
        // margin-top: 30px;
      }
}




.header-info {
    display: flex;
    flex-direction: column;
    .centerflex();
    width: 100%;
    padding: 15px;

    h1 {
    font-size: 3rem;
    display: flex;
    
    }

    .sp {
     max-width: 30%;
     padding: 20px 0;
   
    }

    p {
    margin-left: 10px;
    font-size: 1.4rem;
    }
 
}


.mypic{
    img {
    display:none;  
    }
}
.nav {
    display:none;
}


 


  
  
  
  



