

//header
.header {
    .bg();
    display: flex;
    justify-content: space-between;
}

.header-info {
    display: flex;
    flex-direction: column;
    .centerflex();
h1 {
    font-size: 7rem;
    display: flex;
    
}
span {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    
}
h5{
    margin-left: 10px;
    font-size: 2rem;
}
}


.mypic{
    width:30%;
    margin-left: 180px;
    img {
        .colormix1();
        margin-top: 40px;
        max-width: 50%;
        height: auto;
    }
}

.nav {
    width: 15%;
a {
    .colormix1();
    display: flex;
    .centerflex();
    text-decoration: none;
    display: flex;
    font-size: 3rem;
    padding: 13px 0;
    span {
        color: black;
    }
}
}
 
.nav a span:hover {
    color: #BC58F4;
}









