//skills

.skills-section{
    .colormix2();
    display:flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 5rem;
        color: black;
    }
    .skills {
        display: flex;
        .centerflex();
        width: 100%;
        .box {
            // .colormix1();
            width: 40%;
            display: flex;
            flex-direction: column;
            .centerflex();
            h3 {
                font-size: 3rem;
                color: black;
            }
            ul li {
                font-size: 2rem;
                color: black;
            }
            
        }
        
        
    }

 }
