
//header
.header {
    
    .bg();
    .mob-nav {
        display:flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 95%;
        justify-content: center;


        nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            a{
             .colormix1();
             text-align: center;
             text-decoration: none;
             font-size: 1.15rem;
             width: 100%;
            }
        }

    .mob-nav a span:hover {
            color: #BC58F4;
        }
    }

    .info-container {
        padding: 16px;
        // margin-top: 30px;
      }
}




.header-info {
    display: flex;
    flex-direction: column;
    .centerflex();
    width: 100%;
    padding: 15px;

    h1 {
    font-size: 2.5rem;
    display: flex;
    
    }

    .sp {
     max-width: 30%;
     padding: 20px 0;
   
    }

    p {
    margin-left: 10px;
    font-size: 1.4rem;
    }
 
}


.mypic{
    img {
    display:none;  
    }
}
.nav {
    display:none;
}


 


